<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="nav-container">
        <form action="/">
            <button>Home</button>
        </form>

        <% if (isLoggedIn) { %>
            <form action="/playhistory">
                <button>Dashboard</button>
            </form>

            <form action="/highlights" class="highlight-button">
                <button>Highlight Hands</button>
            </form>
            
            <p class="logged-in-text">Logged in as <%= currentUser.username %></p>

            <form action="/logout?_method=delete" method="post">
                <button>Log Out</button>
            </form>
        <% } %>
    </div>

    <%- body %>
</body>
</html>