<div class="new-play-form-wrapper">
    <h2 class="page-title">Log Your Play</h2>

    <form action="/playhistory" method="post" class="flex-column">
        <label for="">Blind Level</label>
        <select name="blind_level">     
            <option value="1/2">1/2</option>
            <option value="2/5">2/5</option>
            <option value="5/10">5/10</option>
            <option value="20/40">20/40</option>
            <option value="50/100">50/100</option>
        </select>

        <label for="">Session Date</label>
        <input type="date" name="session_date" max="<%= new Date().toISOString().split("T")[0] %>" required>

        <label for="">Win/Loss</label>
        <input type="number" name="win_loss" required>

        <label for="">Notes</label>
        <textarea name="notes" rows="5" cols="30" placeholder="Any thoughts you had of your own play..." required></textarea>

        <button>Log Play</button>
    </form>
</div>
