<h2>create new user</h2>

<form action="/signup" method="post">
    <label for="">username</label>
    <input type="text" name="username">

    <label for="">email</label>
    <input type="text" name="email">

    <label for="">password</label>
    <input type="text" name="password">

    <button>Sign Up</button>
</form>