@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



/* ALL */

body {
    background: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(56,49,124,1) 49%, rgba(12,39,64,1) 100%);
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, label {
    color: aliceblue;
}

img {
    background-color: aliceblue;
    border-radius: 5%;
    width: 100px;
}

.center-items {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.p-shadows {
    text-shadow: 3px 3px 2px rgba(103, 103, 103, 0.3);
}

.page-title {
    text-align: center;
    font-size: 40px;
    text-shadow: 0 0 18px rgba(230, 230, 230, 0.35);
}

.content {
    font-size: 30px;
    text-shadow: 3px 3px 2px rgba(240, 240, 240, 0.3);
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    width: 400px;
}

.align-items {
    align-items: center;
}


/* LAYOUT */

.nav-container {
    display: flex;
    height: 5vh;
    align-items: center;
}

.logged-in-text {
    font-family: "Playfair Display", serif;
}

.highlight-button {
    flex-grow: 1;
}



/* HOME PAGE */

.home-container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-container h2 {
    opacity: 0;
    animation-delay: 1.6s;
    font-family: "Playfair Display", serif;
    margin-bottom: 150px;
}

.home-buttons-container {
    display: flex;
    flex-direction: row;
}

.home-buttons-container button {
    animation-delay: 2.5s;
}

.title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 119px;
    margin: 0;
}



/* LOGIN PAGE */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.login-container h2 {
    margin-bottom: 50px;
    font-family: "Playfair Display", serif;
    font-size: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 200px;
}

.login-form label {
    font-family: "Playfair Display", serif;
    font-size: 15px;
    color: aliceblue;
}

.login-container input {
    max-width: 200px;
}



/* PLAY HISTORY PAGE */

.grid-wrapper {
    display: flex;
    flex-direction: column;
    height: 95vh;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-y: scroll;
    justify-items: center;
}

.card-grid::-webkit-scrollbar {
    display: none;
}

.history-card {
    background-color: rgba(225, 225, 225, 0.83);
    width: 400px;
    padding: 5px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: rgba(229, 229, 229, 0.25) 0px 14px 28px, rgba(214, 214, 214, 0.22) 0px 10px 10px;
    font-family: "Playfair Display", serif;
}

.history-card header {
    display: flex;
    justify-content: center;
    background-color: rgb(52, 52, 52);
    border-radius: 20px;
}

.history-card section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.bigger-text {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.hand-note {
    padding: 20px;
    background-color: aliceblue;
    color: grey;
    border-radius: 20px;
}



/* HIGHLIGHT HANDS PAGE */

.highlight-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    justify-items: center;
}

.highlight-grid::-webkit-scrollbar {
    display: none;
}

.highlight-card {
    background-color: rgba(225, 225, 225, 0.83);
    width: 700px;
    padding: 5px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: rgba(229, 229, 229, 0.25) 0px 14px 28px, rgba(214, 214, 214, 0.22) 0px 10px 10px;
    font-family: "Playfair Display", serif;
}

.highlight-card header {
    background-color: rgb(52, 52, 52);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 2fr 8fr;
    justify-items: center;
    align-items: center;
}

.highlight-text {
    text-shadow: 0 0 18px rgba(230, 230, 230, 0.35);
    font-size: 50px;
}

.highlight-card section {
    padding: 10px;
}

.highlight-title {
    font-size: 50px;
    text-shadow: 0 0 18px rgba(230, 230, 230, 0.35);
    margin: 10px 20px 10px 0px;
}



/* DETAILED HIGHLIGHT PAGE */

.comment-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
    margin: 0 auto;
}

.comment-wrapper textarea {
    width: 600px;
    height: 50px;
    resize: none;
}

.comment-wrapper button {
    margin: 0px 0px 500px 0px;
}

.highlight-page-wrapper {
    overflow-y: scroll;
    height: 95vh;
    font-family: "Playfair Display", serif;
}

.highlight-page-wrapper::-webkit-scrollbar {
    display: none;
}

.single-comment {
    justify-content: space-around;
    background-color: rgba(177, 177, 177, 0.531);
    border-radius: 15px;
    width: 600px;
    margin-bottom: 10px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.single-comment p {
    padding: 0px 10px;
}

.comment-footer {
    display: flex;
    justify-content: space-between;
}

.comment-footer a {
    margin: 16px 10px 16px 0px;
}


/* NEW PLAY HISTORY PAGE */

.new-play-form-wrapper label {
    font-size: 20px;
    margin-top: 20px;
}

.new-play-form-wrapper button {
    margin: 20px auto;
}

.new-play-form-wrapper textarea {
    width: 400px;
    resize: none;
}



/* PLAY HISTORY EDIT PAGE */

.play-edit-form-wrapper label {
    font-size: 20px;
    margin-top: 20px;
}

.play-edit-form-wrapper button {
    margin: 20px auto;
}

.play-edit-form-wrapper textarea {
    width: 400px;
    resize: none;
}



/* NEW HIGHLIGHT PAGE */

.new-highlight-form-wrapper label {
    font-size: 20px;
    margin-top: 20px;
}

.new-highlight-form-wrapper button {
    margin: 20px auto;
}

.new-highlight-form-wrapper textarea {
    width: 400px;
    resize: none;
}



/* EDIT HIGHLIGHT PAGE */

.highlight-edit-form-wrapper label {
    font-size: 20px;
    margin-top: 20px;
}

.highlight-edit-form-wrapper button {
    margin: 20px auto;
}

.highlight-edit-form-wrapper textarea {
    width: 400px;
    resize: none;
}



/* EDIT COMMENT PAGE */

.comment_edit_form_wrapper textarea {
    width: 400px;
    height: 60px;
    resize: none;
}



/* From Uiverse.io by cssbuttons-io */ 
button {
    --color: #682aaf;
    font-family: "Playfair Display", serif;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    text-align: center;
}
  
  button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}
  
  button:hover {
    color: #ffffff;
}
  
  button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}
  
  button:hover:before {
    top: -30px;
    left: -30px;
}
  
  button:active:before {
    background: rgb(22, 42, 77);
}
  


/* ANIMATION */

.text-focus-in {
	-webkit-animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.text-shadow-drop-center {
	-webkit-animation: text-shadow-drop-center 0.6s both;
	        animation: text-shadow-drop-center 0.6s both;
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}



  
/* ----------------------------------------------
 * Generated by Animista on 2024-10-3 10:30:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      text-shadow: 0 0 0 rgba(255, 255, 255, 0);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      text-shadow: 0 0 18px rgba(230, 230, 230, 0.35);
      opacity: 1;
    }
}
  

/* ----------------------------------------------
 * Generated by Animista on 2024-10-3 10:50:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation text-shadow-drop-center
 * ----------------------------------------
 */
 @-webkit-keyframes text-shadow-drop-center {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes text-shadow-drop-center {
    0% {
      text-shadow: 0 0 0 rgba(255, 255, 255, 0);
      opacity: 0;
    }
    100% {
      text-shadow: 0 0 18px rgba(230, 230, 230, 0.35);
      opacity: 1;
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2024-10-3 11:16:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2024-10-3 13:1:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
  